body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    gap: 20px;
}

.container {
    background: #1e293b;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.visual-box {
    background: #1e293b;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h1, h2 {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
}

textarea, input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

textarea {
    height: 70px;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

#visualSteps {
    background: #0f172a;
    padding: 10px;
    border-radius: 5px;
    min-height: 150px;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.visualBtn {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.visualBtn:hover {
    background: #16a34a;
}
