body{
 background:#0f172a;
 color:white;
 font-family:Arial;
 display:flex;
 justify-content:center;
 height:100vh;
}

.main-container{
 display:flex;
 gap:20px;
 margin-top:30px;
}

.container,.visual-box{
 background:#1e293b;
 padding:20px;
 border-radius:10px;
 width:380px;
}

textarea,input,select{
 width:100%;
 padding:8px;
 margin-top:5px;
 border-radius:5px;
 border:none;
}

textarea{height:70px;}

.buttons{
 display:flex;
 justify-content:space-between;
 margin-top:10px;
}

button{
 background:#38bdf8;
 border:none;
 padding:8px;
 width:48%;
 border-radius:5px;
 cursor:pointer;
}

button:hover{background:#0ea5e9;}

.tabs{
 display:flex;
 gap:10px;
 margin-bottom:10px;
}

.tabs button{
 background:#22c55e;
 width:50%;
}

.tab-content{
 background:#0f172a;
 padding:10px;
 border-radius:5px;
 min-height:230px;
 white-space:pre-wrap;
 animation:fade 0.6s;
}

@keyframes fade{
 from{opacity:0;}
 to{opacity:1;}
}

.highlight{
 color:#38bdf8;
 font-weight:bold;
}

.step{
 margin-bottom:8px;
}

table{
 width:100%;
 border-collapse:collapse;
 margin-top:10px;
}

td{
 border:1px solid white;
 padding:5px;
 text-align:center;
}
